@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: "Ibrand";
  src: url("../public/fonts/ibrand/Ibrand.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.ibrand-font {
  font-family: "Ibrand", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* globals.css or your component-level CSS */
.card-3d {
  perspective: 1000px;
}

.card-inner {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform;
}
